@page
@model Valasztasok.Pages.PartokListazasModel

@{
    ViewData["Title"] = "PartokListazas";
}

<h1>PartokListazas</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Part[0].RovidNev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Part[0].HosszuNev)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Part) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HosszuNev)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RovidNev">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RovidNev">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RovidNev">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
